<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <header>
        <div class="header-tablet">
        <div class="logo-search-bar">
        <div class="logo-mercado-liebre">
        <a href="/home"><img src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></a>
        </div>
        <div class="barra"class="search-bar"><input type="text" placeholder="Buscar productos, marcas"></div>
        <i class="fas fa-search"></i>
        </div>
        <div class="compra-en-cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</div>
        </div>
        <br>
        <nav>
            <ul class="navbar" style="list-style-type:none">
                <a href="#ofertas"><li>Ofertas</li></a>
                <a href="#tiendas-oficiales"><li>Tiendas Oficiales</li></a>
                <a href="#vender"><li>Vender</li></a>
                <a href="#ayuda"><li>Ayuda</li></a>
            </ul>
            <div class="filler-bar"></div>
            <ul class="loginbar" style="list-style-type:none">
                <a href="/register"><li>Creá tu cuenta  <i class="fas fa-id-card"></i></li></a>
                <a href="/login"><li>Ingresá  <i class="fas fa-sign-in-alt"></i></li></a>
                <a href="#mis-compras"><li>Mis compras  <i class="fas fa-shopping-basket"></i></li></a>
            </ul>

        </nav>
        <br>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>            
    </header>

    <img class="banner" src="/img/img-home-banner.jpg">
    <main>
        
        <h1>Basado en tu última visita</h1>
        <section class="ultima-visita">
            <!-- <section class="producto#">
                <img src="/img/" alt="">
                <p>$</p>
                <p>% OFF</p>
                <p><strong></strong></p>
            </section> -->
            
            <section class="producto">
                <img class="img-producto" src="/img/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
                <div class="descripcion">
                <i class="fas fa-shipping-fast"></i>
                <div class="precio-descuento">
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                </div>
                <p class="nombre-producto">Cafetera Moulinex</p>
                </div>
            </section>
<!--Aca nos quedamso con lo de los iconos-->
            <section class="producto">
                <img class="img-producto"src="/img/img-macbook-pro-2019.jpg" alt="macbook-pro-2019">
                <div class="descripcion"> 
                <i class="logo-envio" class="fas fa-shipping-fast"></i>
                <div class="precio-descuento">
                <p class="precio">$230.000</p>
                <p class="descuento">20% OFF</p>
                </div>
                <p class="nombre-producto">MacBook Pro 2019</p>
                </div>
            </section>
            
            <section class="producto">
                <img class="img-producto"src="/img/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10">
                <div class="descripcion"> 
                <i class="logo-envio" class="fas fa-shipping-fast"></i>
                <div class="precio-descuento">
                <p class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
                </div>
                <p class="nombre-producto">Samsung Galaxy S10</p>
                </div>
            </section>

            <section class="producto">
                <img class="img-producto"src="/img/img-tv-samsung-smart.jpg" alt="tv-samsung-smart">
                <div class="descripcion"> 
                <i class="logo-envio" class="fas fa-shipping-fast"></i>
                <div class="precio-descuento">
                <p class="precio">$23.200</p>
                <p class="descuento">5% OFF</p>
                </div>
                <p class="nombre-producto">SmartTv Samsung 43</p>
                </div>
            </section>

        </section>

        <section class="ofertas">

            <h1>Ofertas</h1>

            <!-- <section class="producto#">
                <img class="img"src="/img/" alt="">
                <p>$</p>
                <p>% OFF</p>
                <p><strong></p>
                </div>
            </section> -->
            
            <section class="producto">
                <img class="img-producto"src="/img/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
                <div class="descripcion">
                <i class="logo-envio" class="fas fa-shipping-fast"></i> 
                <div class="precio-descuento">
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                </div>
                <p class="nombre-producto">Cafetera Moulinex</p>
                </div>
            </section>

            <section class="producto">
                <img class="img-producto"src="/img/img-macbook-pro-2019.jpg" alt="macbook-pro-2019">
                <div class="descripcion"> 
                <i class="logo-envio" class="fas fa-shipping-fast"></i>
                <div class="precio-descuento">
                <p class="precio">$230.000</p>
                <p class="descuento">20% OFF</p>
                </div>
                <p class="nombre-producto">MacBook Pro 2019</p>
                </div>
            </section>
            
            <section class="producto">
                <img class="img-producto"src="/img/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10">
                <div class="descripcion"> 
                <div class="precio-descuento">
                <p class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
                </div>
                <p class="nombre-producto">Samsung Galaxy S10</p>
                </div>
            </section>

            <section class="producto">
                <img class="img-producto"src="/img/img-tv-samsung-smart.jpg" alt="tv-samsung-smart">
                <div class="descripcion"> 
                <i class="logo-envio" class="fas fa-shipping-fast"></i>
                <div class="precio-descuento">
                <p class="precio">$23.200</p>
                <p class="descuento">5% OFF</p>
                </div>
                <p class="nombre-producto">SmartTv Samsung 43</p>
                </div>
            </section>

        </section>


    </main>


    <footer>

        <body>
        <p class="iconos-footer"><i class="fas fa-credit-card"></i></i></p>
        <p><strong>Pagá con tarjeta o en efectivo</strong></p>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>

        <p class="iconos-footer"><i class="fas fa-gift"></i></p>
        <p><strong>Envío gratis desde $ 2.500</strong></p>

        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        
        <p class="iconos-footer"><i class="fas fa-user-shield"></i></p>
        <p><strong>Seguridad, de principio a fin</strong></p>

        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>

        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </body>

    </footer>

</html>